[user]
	name = BenjaminCB
	email = benjamincb@hotmail.dk
[pull]
	rebase = false
[init]
	defaultBranch = master
[credential]
	helper = cache
	helper = cache
[mergetool "nvim"]
    cmd = nvim -f -d -c '$wincmd w' -c 'wincmd j' $LOCAL $REMOTE $MERGED
[merge]
	tool = nvim
[mergetool]
	prompt = false
