* {
    font-size: 18px;
    border-radius: 5px;
}

window#waybar {
    font-family: FontAwesome, monospace;
    background-color: transparent;
    border-bottom: 0px;
    color: #ebdbb2;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden { opacity: 0.2; }

.modules-right { margin: 5px 10px 0 0; }
.modules-center { margin: 5px 0 0 0; }
.modules-left  { margin: 5px 0 0 10px; }

button { border: none; }

#clock,
#battery,
#backlight,
#wireplumber,
#tray,
#load,
#network,
#bluetooth,
#custom-vol_down,
#custom-vol_up {
    padding: 0 10px;
    background-color: #282828;
    color: #ebdbb2;
}

/* Group volume buttons visually */
#custom-vol_down {
    border-radius: 5px 0 0 5px;
    margin-right: 0;
}
#wireplumber {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
}
#custom-vol_up {
    border-radius: 0 5px 5px 0;
    margin-left: 0;
}

/* Battery states */
#battery.charging, #battery.plugged {
    background-color: #98971a;
    color: #282828;
}

@keyframes blink {
    to { background-color: #282828; color: #ebdbb2; }
}

#battery.critical:not(.charging) {
    background-color: #cc241d;
    color: #ebdbb2;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#wireplumber.muted { background-color: #458588; }

#tray > .passive { -gtk-icon-effect: dim; }
#tray > .needs-attention { -gtk-icon-effect: highlight; }
#tray menu { font-family: sans-serif; }

