snippet smeeting "Supervisor meeting boilerplate" b
# Intro
This is a summary of our ${1} supervisor meeting.

Date of the meeting: `date +%d.%m.%y` (actually document creation, but close enough).

# Agenda
${0}

# Meeting notes
endsnippet
